<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel_s">
          <div class="panel-body">

            <h1>Relacionar Empresas</h1>

            <div class="col-md-6 offset-md-3">
              <ng-multiselect-dropdown
                [placeholder]="'Selecione as empresas relacionadas'"
                [data]="empresas"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
