<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel_s">
          <div class="panel-body">

            <div class="row">
              <div class="col-md-4">
                <h1>{{ title }}</h1>
              </div>
              <div class="col-md-1 offset-md-11">
                <button type="button" (click)="add();" class="btn btn-success pull">Novo Usuário</button>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr class="d-flex">
                  <th scope="col" class="col-md-1">id</th>
                  <th scope="col" class="col-md-5">Nome</th>
                  <th scope="col" class="col-md-4">E-mail</th>
                  <th scope="col" class="col-md-2">Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ="let user of usuarios" class="d-flex">
                  <td class="col-md-1" scope="row">{{user.Id}}</td>
                  <td class="col-md-5" *ngIf="user.nome">{{user.nome}}</td>
                  <td class="col-md-5" *ngIf="!user.nome">**Usuário sem Nome**</td>
                  <td class="col-md-4">{{user.email}}</td>
                  <td class="col-md-2">
                    <button type="button" class="btn btn-info" (click)="edit(user.Id)">Editar</button>
                    <!--<button type="button" class="btn btn-danger" (click)="delet(user.Id)">Deletar</button>-->
                    <button type="button" class="btn btn-secondary" (click)="relate(user.Id)">Empresas</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
